{{ date }} [![README build](https://github.com/rogerioyokoi/rogerioyokoi/actions/workflows/main.yml/badge.svg)](https://github.com/rogerioyokoi/rogerioyokoi/actions/workflows/main.yml)
# 🤙 Olá, prazer eu sou {{ name }}